$font-family: 'Sansita', sans-serif;
$font-size-small: 8px;
$font-size-medium: 12px;
$font-size-large: 16px;
$background-color: rgb(97, 96, 96);
$font-weight-normal: 400;
$font-weight-bold: 700;
$white-color: rgb(255, 255, 255);
$white-color-smoke: rgb(245, 245, 245);
$hover-color: rgb(232, 111, 4);
$icon-color: rgb(232, 201, 4);
