.portfolio {
  margin-top: 40px;
}

.margin {
  margin-top: 20px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.portfolio__item {
  display: block;
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 15px);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 10px);
    &:nth-child(-n + 3) {
      margin-bottom: 10px;
    }

    &:not(:nth-child(3n + 1)) {
      margin-left: 10px;
    }
  }

  &:hover,
  :focus {
    z-index: 1;
    border: 1px solid $hover-color;
    box-shadow: 0 6px 60px -24px rgba(0 0 0 / 75%);
  }
}

.portfolio__box {
  max-width: 500px;
  margin: 10px 0;
  align-items: center;
  @media screen and (min-width: 768px) {
    height: 100px;
  }
}
.portfolio__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: $white-color;
  width: 100%;
  font-size: $font-size-small;
  line-height: 1.56;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    font-size: $font-size-medium;
  }
  @media screen and (min-width: 1200px) {
    font-size: $font-size-large;
  }
}

.portfolio__title {
  font-size: $font-size-medium;
  color: $white-color;

  @media screen and (min-width: 768px) {
    font-size: $font-size-large;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
