.work {
  color: $white-color;
}

.work__item {
  margin-top: 15px;
}

.work__title {
  font-size: 18px;
}

.work__text {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin-top: 10px;
  padding: 0 5px;
  @media screen and (min-width: 768px) {
    font-size: $font-size-medium;
  }

  @media screen and (min-width: 1200px) {
    font-size: $font-size-large;
  }
}

.work__date {
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  padding: 5px 10px;

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
