<div class="edu">
  <ul class="edu__list">
    <li class="edu__item">
      <h2 class="edu__title">Education</h2>
      <p class="edu__text">Coke Chemical Technical School. Junior specialist of process automation.</p>
      <p class="edu__date">September 2006 - Juny 2010</p>
    </li>
    <li class="edu__item">
      <h2 class="edu__title">Course</h2>
      <p class="edu__text">GOIT. Fullstack Developer Courses</p>
      <p class="edu__date">October 2021 - October 2022</p>
    </li>
  </ul>
</div>