<header id="myHeader" class="header">
  <div class="header__img">
    <img src="./img/My_photo.jpg" alt="Oleksandr Soloviov" />
  </div>
  <div class="wrapper header__wrapper">
    <h1 class="header__title">Oleksandr Soloviov</h1>
    <h2 class="header__sub-title">Junior Fullstack Developer</h2>
    <div class="about__wrapper">
      <h3 class="about__title title">About Me</h3>
      <p class="about__text">
        Hello! I complited course Fullstack developer at GoIT Academy. I want to create interesting projects and be part
        of successful project
      </p>
    </div>
  </div>

</header>