<div class="portfolio">
  <h1 class="title">Frontend Portfolio</h1>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <a href="https://shakal194.github.io/goit-markup-hw-08/" target="_blank" rel="noreferrer noopener">
        <img class="portfolio__img" src="./img/WebStudio.jpg" width="400" height="200" />

        <div class="portfolio__box">
          <h2 class="portfolio__title">WebStudio</h2>
          <p class="portfolio__description">
            My first website. I`m use on it flexbox at scss
          </p>
        </div>
      </a>
    </li>
    <li class="portfolio__item">
      <a href="https://shakal194.github.io/team-projekt-/" target="_blank" rel="noreferrer noopener">
        <img class="portfolio__img" src="./img/IceCream.jpg" width="400" height="200" />
        <div class="portfolio__box">
          <h2 class="portfolio__title">IceCream</h2>
          <p class="portfolio__description">
            It was a command project. Stack technology in project HTML5/CSS3.
          </p>
        </div>
      </a>
    </li>
    <li class="portfolio__item">
      <a href="https://shakal194.github.io/project-filmoteka/" target="_blank" rel="noreferrer noopener">
        <img class="portfolio__img" src="./img/Filmoteka.jpg" width="400" height="200" />

        <div class="portfolio__box">
          <h2 class="portfolio__title">Filmoteka</h2>
          <p class="portfolio__description">
            It was a command project. Stack technology in project HTML5/CSS/JS.
          </p>
        </div>
      </a>
    </li>
    <li class="portfolio__item">
      <a href="https://shakal194.github.io/goit-react-hw-08-phonebook/" target="_blank" rel="noreferrer noopener">
        <img class="portfolio__img" src="./img/Phonebook.jpg" width="400" height="200" />

        <div class="portfolio__box">
          <h2 class="portfolio__title">Phonebook</h2>
          <p class="portfolio__description">It was a single project in React.</p>
        </div>
      </a>
    </li>
  </ul>
  <h1 class="title margin">Backend Portfolio</h1>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <a href="https://book-reader-backend.herokuapp.com/api-docs/" target="_blank" rel="noreferrer noopener">
        <img class="portfolio__img" src="./img/BookReader_Swagger.jpg" width="400" height="200" />

        <div class="portfolio__box">
          <h2 class="portfolio__title">Book-Reader BackEnd</h2>
          <p class="portfolio__description">
            Command project. I`m was a back-end developer</p>
        </div>
      </a>


    </li>
    <li class="portfolio__item">
      <a href="https://github.com/shakal194/nodejs-homework" target="_blank" rel="noreferrer noopener">
        <img class="portfolio__img" src="./img/REST_API.jpg" width="400" height="200" />

        <div class="portfolio__box">
          <h2 class="portfolio__title">Rest-api</h2>
          <p class="portfolio__description">My Node.JS homework</p>
        </div>
        </p>
      </a>

    </li>
</div>