<div class="sidebar" id="sidebar">

  <div class="sidebar__box">
    <h2 class="sidebar__title">Contacts</h2>
    <ul class="contacts__margin">
      <li class="contacts__item">
        <a class="contacts__link" href="mailto:shakal194@gmail.com">
          <svg class="contacts__icon">
            <use href="./img/icons.svg#envelope"></use>
          </svg>
          shakal194@gmail.com
        </a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link" href="tel:+380675390902">
          <svg class="contacts__icon">
            <use href="./img/icons.svg#smartphone"></use>
          </svg>
          +380675390902
        </a>
      </li>
      <li class="contacts__item">
        <a href="https://www.linkedin.com/in/oleksandr-soloviov-a75590239/" class="contacts__link" target="_blank"
          rel="noreferrer noopener">
          <svg class="contacts__icon">
            <use href="./img/icons.svg#linkedin"></use>
          </svg>
          Linkedin
        </a>
      </li>
      <li class="contacts__item">
        <a href="https://t.me/Aleks_Soloviov" class="contacts__link" target="_blank" rel="noreferrer noopener">
          <svg class="contacts__icon">
            <use href="./img/icons.svg#telegram"></use>
          </svg>Telegram
        </a>

      </li>
    </ul>
  </div>

  <div class="sidebar__box">
    <button class="accordion">
      <h2 class="sidebar__title">Hard Skills</h2>
    </button>
    <div class="panel">
      <ul class="sidebar__skills">
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-HTML5"></use>
          </svg>
          HTML5
        </li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-CSS3"></use>
          </svg>
          CSS3/SASS/SCSS
        </li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-Javascript"></use>
          </svg>
          Javascript
        </li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-React"></use>
          </svg>
          React
        </li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-Node"></use>
          </svg>
          Node.js
        </li>
        <li class="skills__item">Express.js</li>
        <li class="skills__item">REST API</li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-VSCode"></use>
          </svg>
          VS Code
        </li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-Github"></use>
          </svg>
          GitHub
        </li>
        <li class="skills__item">
          <svg class="skills__icon">
            <use href="./img/sprite.svg#icon-Mongodb"></use>
          </svg>
          Mongoose
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar__box">
    <button class="accordion">
      <h2 class="sidebar__title">Soft Skills</h2>
    </button>
    <div class="panel">
      <ul class="sidebar__skills">
        <li class="skills__item">Time Management</li>
        <li class="skills__item">Problem Solving</li>
        <li class="skills__item">Patience</li>
        <li class="skills__item">Attention to detail</li>
        <li class="skills__item">Creativity</li>
        <li class="skills__item">Flexible</li>
        <li class="skills__item">Communicative</li>
      </ul>
    </div>
  </div>
  <div class="sidebar__box">
    <h2 class="sidebar__title">Languages</h2>
    <ul class="sidebar__skills">
      <li class="lang">
        Ukrainian - Native
      </li>
      <li class="lang">
        Russian - C2
      </li>
      <li class="lang">
        English - A2/B1
  </div>
  </li>
  </ul>
</div>
</div>