<div class="work">
    <ul class="work__list">
        <h1 class="title">Work experience</h1>
        <li class="work__item">
            <h2 class="work__title">ISP PE Online Technology</h2>
            <p class="work__text">Regional manager</p>
            <p class="work__date">June 2017 - till now</p>
            <p class="work__date">Responsibilities: looking for new client, communication with team, client & third
                organization
            </p>
        </li>
        <li class="work__item">
            <h2 class="work__title">Development Group Sp. Z.O.O.</h2>
            <p class="work__text">System administrator</p>
            <p class="work__date">September 2018 - May 2021</p>
            <p class="work__date">Responsibilities: support & administration OS Windoser Server 2008/2012 & Windows
                7/8/10
            </p>
        </li>
        <li class="work__item">
            <h2 class="work__title"> ISP PE ITM-UA</h2>
            <p class="work__text">Technical engineer</p>
            <p class="work__date">March 2012 - September 2016</p>
            <p class="work__date">Responsibilities: connect new client to LAN ISP
            </p>
        </li>
    </ul>
</div>